
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header {
  font-family: "Bebas Neue", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
  position: relative;
  padding 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav span{
  width: 80px;
  color: white;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 40px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}




.content{
  text-align: center;
}

.content h1{
  font-size: 160px;
  color: white;
  font-weight: 600;
}

.content a{
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  padding: 14px 70px;
  border: 2px solid white;
  border-radius: 50px;
  margin-top: 20px;
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire area */
}

.container{
  width: 80%;
  margin: 0 auto;
  align-items: center;

}

.container h2{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  i
}

.article-texts{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-text{
  width: 30%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;

}

h4{
  font-weight: 600;
  margin-bottom: 10px;
}

footer{
  margin-top: 50px;
  width: 100%;
  color: white;
  text-align: center;
}

footer a{
  color: white;
  text-decoration: none;
  font-size: 24px; 
  background: #333;
  width: 100%;
  display: inline-block;
  padding-bottom: 10px;
}

html{
  background-color: #051D40;
}
.intro p{
  font-size: 1.2em;
}
.article-text h4{
  font-size: 1.4em;
  padding-bottom: 3px;
  text-align: center;
  border-bottom: #ccc solid 2px;
}

.article-text{
  padding: 20px 25px;
  width: 100%;
}

.article-text p{
  text-align: center;
}

.article-texts{
  width: 100%;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.photo{
  margin-top: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
}
